<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation" version="5.6.2.0" targetFramework="net451" />
  <package id="jQuery" version="1.8.2" targetFramework="net451" />
  <package id="jQuery.Validation" version="1.10.0" targetFramework="net451" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.1.1" targetFramework="net451" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net451" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net451" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net451" />
  <package id="xunit.core" version="2.0.0" targetFramework="net451" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net451" />
</packages>